name: Build Docker

on: workflow_dispatch

permissions:
  contents: write
  packages: write

jobs:
  docker:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          file: "docker/simple/Dockerfile"
          push: ${{ startsWith(github.ref, 'refs/tags/') }}
          pull: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/abetlen/llama-cpp-python:latest
            ghcr.io/abetlen/llama-cpp-python:${{ github.ref_name }}
          build-args: |
            BUILDKIT_INLINE_CACHE=1

      - name: Publish to GitHub Tag
        if: steps.docker_build.outputs.digest && startsWith(github.ref, 'refs/tags/')
        run: |
          echo "Docker image published for tag: ${{ github.ref_name }}"
